@page "/usuario/crear"

<div class="card">
        <div class="card-body">
            <h3 class="card-title"><b>Agregar usuario</b></h3>
            <hr>
            <EditForm Model="request" OnValidSubmit="Send">
                <div class="mb-3 input-group">
                    <label for="Nombre" class="input-group-text">Nombre</label>
                    <InputText id="Nombre" class="form-control" @bind-Value="@request.Nombre" />
                </div>
                <div class="mb-3 input-group">
                    <label for="Apellido" class="input-group-text">Apellido</label>
                    <InputText id="Apellido" class="form-control" @bind-Value="@request.Apellido" />
                </div>
                <div class="mb-3 input-group">
                    <label for="Usuario" class="input-group-text">Usuario</label>
                    <InputText id="Usuario" class="form-control" @bind-Value="@request.Email" />
                </div>
                <div class="mb-3 input-group">
                    <label for="Clave" class="input-group-text">Clave</label>
                    <InputText id="Clave" class="form-control" @bind-Value="@request.Clave" />
                </div>
                
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button @onclick="Cancelar" class="btn btn-secondary">Cancelar</button>
                </div>
            </EditForm>
        </div>
</div>

@code
{
    public string Filtro { get; set; } = "";
    public List<UserResponse> Users { get; set; }
        = new List<UserResponse>();
    public UserRequest request { get; set; } = new UserRequest();

    protected override async Task OnInitializedAsync()
    {
        await CargarUsuarios();
    }
    async Task CargarUsuarios()
    {
        var resultado =
        await userServices.Consultar(Filtro);
        if (resultado.Exitoso)
        {
            Users = resultado.Datos!;
        }
    }
 
    public async Task Send()
    {
        if (request.Id == 0)
        {
            //Debo registrar el contacto..
            var r = await userServices.Crear(request);
            if (r.Exitoso)
            {
                Cancelar();
                await CargarUsuarios();
                StateHasChanged();
            }
        }
        else
        {
            //Debo solicitar modificar el contacto...
            var r = await userServices.Modificar(request);
            if (r.Exitoso)
            {
                Cancelar();
                await CargarUsuarios();
                StateHasChanged();
            }
        }
    }
    void Cancelar()
    {
        request = new UserRequest();
        urlHelper.NavigateTo("/login");
    }
 
}