@page "/about"

<PageTitle>About</PageTitle>

<h1><img src="toro.png" alt="" > Versión del Software: 1.0</h1>
    <h2>Desarrolladores:</h2>
    <div class="row">
        <div class="col text-center">
            <img src="Marcos.jpeg" alt="" class="rounded-circle img-fluid img-thumbnail w-50">
            <p class="text-center"><b>Marcos De Vargas Serrano</b></p>
        </div>
        <div class="col text-center">
            <img src="Luis.jpeg" alt="" class="rounded-circle img-fluid img-thumbnail w-50">
            <p class="text-center"><b>Luis Gabriel Acosta Matías</b></p>
        </div>
        <div class="col text-center">
            <img src="Richard.jpeg" alt="" class="rounded-circle img-fluid img-thumbnail w-50">
            <p class="text-center"><b>Richard Miguel Garcias Pérez</b></p>
        </div>
    </div>
    <h2>Descripción del Software:</h2>
    <p>
        Este programa representa una solución integral de gestión de inventario diseñada específicamente 
        para ganaderías. Ofrece una amplia gama de funcionalidades que facilitan el control y la 
        administración de los activos ganaderos en una finca. Algunos de los aspectos más destacados 
        incluyen:
    </p>
    <ul>
        <li>Registro de Ganado</li>
        <li>Control de Pérdidas en el ganado</li>
        <li>Gestión de Gastos</li>
        <li>Facturación de Ventas</li>
    </ul>
    <h2>Información de Contacto:</h2>
    <ul>
        <li>Número de Contacto: +1 (829) 870-7794</li>
        <li>Correo Electrónico: vargasmarcos646@gmail.com</li>
    </ul>
    <h2>Créditos y Agradecimientos:</h2>
    <p>
        En primer lugar, se le agradece al Lic. Félix Benzan y a la Lic. Jennifer Karina Disla Vasquez por 
        impartir sus conocimientos con nosotros, ya que nos fue de mucha ayuda. También a los demás colegas 
        que se ofrecieron a ayudar y, por último, pero no menos importante, le agradecemos a ChatGPT, el 
        cual nos ayudó a solucionar muchos errores en el código, ya que sin la ayuda de todos los mencionados, 
        este proyecto no hubiese existido. 
    </p>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: black;
            color: white;
            padding: 10px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        p {
            font-size: 18px;
            margin: 20px 0;
            text-indent: 20px; /* Agrega sangría */
            text-align: justify; /* Justifica el texto */
        }
    </style>
