@using TORO.Authentication;
@inject AuthenticationStateProvider authStateProvider

<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="toro.png" style="height: 50px; width: 50px; "> 
      TORO
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
            <a class="nav-link" href="factura">
                <img src="factura.png" style="height: 27px; width: 27px; ">
                <span aria-hidden="true"></span> Facturar
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="animal">
              <img src="inventario.png" style="height: 27px; width: 27px; ">
              <span aria-hidden="true"></span> Bovinos Vivos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="animal/perdido">
                <img src="inventario.png" style="height: 27px; width: 27px; ">
                <span aria-hidden="true"></span> Bovinos Muertos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="gasto">
                <img src="dollar.png" style="height: 27px; width: 27px; ">
                <span aria-hidden="true"></span> Gastos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="usuarios">
                <img src="avatar.png" style="height: 27px; width: 27px; ">
                <span aria-hidden="true"></span> Usuarios
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0)" @onclick="Logout">
                <img src="cerrar-sesion.png" style="height: 27px; width: 27px; ">
                <span aria-hidden="true"></span> LogOut
            </a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

@code
{
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        urlHelper.NavigateTo("/", true);
    }
}