@using System.Security.Claims
@using TORO.Authentication;
@inject AuthenticationStateProvider authStateProvider
@inherits LayoutComponentBase

<PageTitle>TORO</PageTitle>

<div class="page">
    <div class="sidebar d-print-none" >
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-print-none" style="background-color: rgb(12, 12, 12);">
            <AuthorizeView>
                <Authorized>
                    <a class="nav-link active" style="color: white;">
                        @context.User.FindFirstValue(ClaimTypes.GivenName)
                    </a>
                </Authorized>
            </AuthorizeView>
            <a href="about" style="color: white;">About</a>
            
            <AuthorizeView>
            <Authorized>
                <a class="nav-link active" href="javascript:void(0)" style="color: white;" @onclick="Logout">
                    <span aria-hidden="true" class="oi oi-account-logout"></span> LogOut
                </a>
            </Authorized>
            <NotAuthorized>
                <a class="nav-link active" href="login" style="color: white;">
                    <span class="oi oi-account-login"></span> LogIn
                </a>
            </NotAuthorized>
          </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        urlHelper.NavigateTo("/", true);
    }
    private async Task LogIn()
    {
        urlHelper.NavigateTo("/login", true);
    }
}