<div class="top-row ps-3 navbar navbar-dark" style="background-color: black; color: #FFF;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TORO</a>
        <img src="toro.png" alt="" style="height: 32px; width: 32px;">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu" style="background-color: black; ; color: #FFF;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="color: #d7d7d7;">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="animal" Match="NavLinkMatch.All" style="color: #d7d7d7;">
                        <span aria-hidden="true"></span> Bovinos Vivos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="animal/perdido" style="color: #d7d7d7;">
                        <span aria-hidden="true"></span> Bovinos Perdidos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gasto" style="color: #d7d7d7;">
                        <span aria-hidden="true"></span> Gastos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="usuarios" style="color: #d7d7d7;">
                        <span aria-hidden="true"></span> Usuarios
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="factura" style="color: #d7d7d7;">
                        <span aria-hidden="true"></span> Facturar
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    
}
